@model IEnumerable<LeaveManagementSystem.Models.LeaveTypeViewModel>

@{
    ViewData["Title"] = "Leave Types";
}

<h1>Leave Types</h1>
<hr />
<p>
    <a asp-action="Create" class="btn btn-success"> <i class="fa fa-plus" aria-hidden="true"></i> Create New</a>
</p>
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a asp-action="Details" class="btn btn-info" asp-route-id="@item.Id"><i class="fa fa-info" aria-hidden="true"></i></a>
                    <form asp-action="delete" style="display:inline">
                        <button id="deleteBtn" type="submit" class="btn btn-danger" onclick="return confirm('Do you really want to delete this record?')" asp-route-id="@item.Id"><i class="fa fa-trash" aria-hidden="true"></i></button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts{   
    <script>
        //using sweet alert
        @*function deleteLeave(id) {
            swal({
                title: "Are you sure?",
                text: "Once deleted, you will not be able to recover this record!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {

                        //if user chooses yes to delete record
                        var url = `@Url.Action("Delete")/${id}`;
                        $.ajax(
                            {
                                url: url,
                                type: 'Post',
                                success: function () {
                                    swal("Record deleted successfully!", {
                                        icon: "success",
                                    });

                                    dataTable.ajax.reload();
                                },
                                error: function (jqXHR, textStatus, errorThrown) {
                                    swal("Something went wrong...", "Error occured while deleting the record", "error");
                                }
                            });
                    } else {

                    }
                });

            return false;
        }*@
    </script>
}